# Node modules

node_modules/

# Environment files

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build artifacts

build/
dist/

# Logs and databases

_.log
_.sql
_.sqlite
_.sqlite3

# Uploaded files (if stored locally)

public/uploads/

# IDE specific files

.idea/
.vscode/
\*.iml

# OS specific files

.DS_Store
Thumbs.db
